{% macro include_ach_navbar(user, index) %}
    {% if user.department.name == 'Fiscal'
        or user.department.name == 'Cage'
        or user.admin %}
        <nav id="ach-links" class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link {% if index == 0 %} active {% endif %}" aria-current="true" href="/fiscal/ACH">Unclaimed Credits</a>
                    </li>

                    {% if user.admin or user.department.name == 'Fiscal' %}
                        <li class="nav-item">
                        <a class="nav-link {% if index == 1 %} active {% endif %}" aria-current="true" href="/fiscal/ACH/add">Add Credits</a>
                        </li>
                    {% endif %}

                    {% if user.admin 
                        or user.department.name =='Fiscal'
                        or user.department.name == 'Cage' %}
                        <li class="nav-item">
                        <a aria-current="true" class="nav-link {% if index == 2 %} active {% endif %}" href="/fiscal/ACH/recon">Search Credits</a>
                        </li>
                    {% endif %}
                    
                    {% if user.admin or user.department.name == 'Cage' %}
                        <li class="nav-item">
                        <a aria-current="true" class="nav-link {% if index == 3 %} active {% endif %}" href="/fiscal/ACH/book">Book Credits</a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
    {% endif %}
{% endmacro %}


