{% extends 'base.html' %}
{% block content %}

    <table class="table">
        <thead>
            
            <td>Date</td>
            <td>Department</td>
            <td>Bank</td>
            <td>Amount</td>
            <td>Description</td>
        </thead>
        {% for credit in ach_credits %}
            <tr>
                <td>{{credit.received}}</td>
                <td>
                    {% if credit.department %}
                        {{credit.department}}
                    {% else %}
                        Unidentified
                    {% endif %}
                </td>
                <td>{{credit.fund}}</td>
                <td>{{'${:,.2f}'.format(credit.amount)}}</td>
                <td>{{credit.description}}</td>
            </tr>
            
        {% endfor %}
        <tr>
            <td id="total" colspan="5">Total: {{'${:,.2f}'.format(total)}}</td>
        </tr>
    </table>
    <form action="" method="POST" enctype="multipart/form-data">
        {% for field in form if field.widget.input_type != 'hidden' %}
            {{ form.hidden_tag() }}
            {{ field.label }} {{field(class='form-control', accept='.xlsx, .pdf')}}
        {% endfor %}
        <button>Claim</button>
    </form>

{% endblock %}

    
