{% extends 'base.html' %}

{% import 'ACH-navbar.html' as navbar %}
{% import 'ACH-search.html' as search %}

{% block content %}
{{navbar.include_ach_navbar(g.user, 0)}}
{{search.include_search_form(search_form)}}

<div class="container-fluid">
<form action="/fiscal/ACH/claim" method="POST">
    <table class="table">
        <thead>
            <td><button class="btn btn-primary" disabled="true" id="claim">Claim</button></td>
            <td>Received</td>
            <td>Department</td>
            <td>Bank</td>
            <td>Amount</td>
            <td>Description</td>
        </thead>
        <tbody id="credit-content">

        </tbody>
    </table>
    
</form>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='script/ACH.js') }}"></script>
{% endblock %}