{% extends 'base.html' %}

{% block content %}
<div class="container-sm">
    <h2 class="mt-5 text-center">Login</h2>
    <form class="w-50 row mx-auto border border-1 border-primary-subtle rounded mt-5" action="/login" method="POST">
        {{ form.hidden_tag() }}
        <div class="container-fluid row px-5 py-4">
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field(placeholder=field.label.text, class='form-control my-3 col-12') }}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-primary col-4 mx-auto">Login</button>
        </div>
    </form>
</div>
{% endblock %}